SMTP_USER=<SMTP_USER>
SMTP_PASS=<SMTP_PASSWORD>
SMTP_DOMAIN=<SMTP_DOMAIN>
SMTP_PORT=<Port to be used e.g. 25>
MAIL_RECIPIENT=List-of@mail-recipiens.com,

# CAPTCHA Configuration
CAPTCHA_URL=https://cap.eco-preprod.tsi-dev.otc-service.com/
CAPTCHA_SITEKEY=your-site-key
CAPTCHA_SECRET_KEY=sk-your-secret-key-here
